.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 25px;
    z-index: 99999;

    &__row{
        display: flex;
        align-items: center;
        width: 100%;
    }
}

.logo{
    margin-right: 25px;
}