.call-to-action {
  position: relative;
  padding: 50px;
  overflow: hidden;
  background-color: hsl(257, 27%, 26%);

  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/src/assets/img/bg-boost-desktop.svg');
    z-index: 1;
  }

  &__row {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
  }

  &__btn {
    font-size: 2.6em;
  }
}
